<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <applicationSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="WindowsFormsApp1_WsHoffensV2_ServicioWebIntegracionEnexum"
                serializeAs="String">
                <value>https://hoffens.com:443/integracion/ws/hoffensServicio.php</value>
            </setting>
            <setting name="WindowsFormsApp1_local_ayf_sapqasp9_service" serializeAs="String">
                <value>http://sapqasp9.ayf.local:8000/sap/bc/srt/scs/sap/zwsmm_obtener_productos?sap-client=310</value>
            </setting>
            <setting name="WindowsFormsApp1_ZWSMM_OBTENER_DESC_DEST_service"
                serializeAs="String">
                <value>http://sapqasp9.ayf.local:8000/sap/bc/srt/scs/sap/zwsmm_obtener_desc_dest?sap-client=310</value>
            </setting>
            <setting name="WindowsFormsApp1_ZWSMM_OBTENER_CLIENTES_service"
                serializeAs="String">
                <value>http://sapqasp9.ayf.local:8000/sap/bc/srt/scs/sap/zwsmm_obtener_clientes?sap-client=310</value>
            </setting>
            <setting name="WindowsFormsApp1_CLIENTES_service" serializeAs="String">
                <value>http://sapqasp9.ayf.local:8000/sap/bc/srt/scs/sap/zwssd_obtcli?sap-client=310</value>
            </setting>
            <setting name="WindowsFormsApp1_ZWSSD_GENERAR_PEDIDO_service"
                serializeAs="String">
                <value>http://sapqasp9.ayf.local:8000/sap/bc/srt/scs/sap/zwssd_generar_pedido?sap-client=310</value>
            </setting>
            <setting name="WindowsFormsApp1_CREA_PEDIDO_ZMMF_DO_VA01" serializeAs="String">
                <value>http://alifrutcpiprd.it-cpi019-rt.cfapps.us10-002.hana.ondemand.com/cxf/QAS/GetPoint/CreacionPedidoVentas</value>
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="binding">
                    <!--    WsdlImporter encontró aserciones de directiva no reconocidas en ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
                    <!--    <wsdl:binding name='binding'>    -->
                    <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
                    <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding_SOAP12">
                    <!--    WsdlImporter encontró aserciones de directiva no reconocidas en ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
                    <!--    <wsdl:binding name='binding_SOAP12'>    -->
                    <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
                    <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://sapqasp9.ayf.local:8000/sap/bc/srt/scs/sap/zwsmm_obtener_clientes?sap-client=310"
                binding="customBinding" bindingConfiguration="binding" contract="ServiceReference1.ZWSMM_OBTENER_CLIENTES"
                name="binding" />
            <endpoint address="http://sapqasp9.ayf.local:8000/sap/bc/srt/scs/sap/zwsmm_obtener_clientes?sap-client=310"
                binding="customBinding" bindingConfiguration="binding_SOAP12"
                contract="ServiceReference1.ZWSMM_OBTENER_CLIENTES" name="binding_SOAP12" />
        </client>
    </system.serviceModel>
</configuration>
